/* Font Collections */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
body{
    background-color: #A86041;
}
h1{
font-size: 50px;
text-align: center;
padding: 20px;
color: #d0d9ce;
}
.mainContainer{
    align-items: center;
    justify-self: center;
    text-align: center;
    border: 2px black solid;
}
.container{
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 315px; /* 3 * (100px + 5px gap) */
    gap: 5px;
   
.btn{
    width: 100px;
    height: 100px;
    font-size: 24px;
    border: 2px solid rgb(241, 240, 240);
    background-color: #fff;
    cursor: pointer;
    background-color: #2b649a;
    color: #d0d9ce;
    border-radius: 15px;
}

.reset{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    font-size: 24px;
    border: 2px solid rgb(241, 240, 240);
    background-color: #fff;
    cursor: pointer;
    background-color: #2b649a;
    color: #d0d9ce;
}